<!DOCTYPE html>
<html lang="en">
<ion-view title="Login" id="page9" style="background-color:#99EC8E;">
    <ion-content padding="true" class="has-header">
        <div class="list card manual-card-fullwidth" id="login-card21">
            <form id="login-form13" class="list">
                <div id="login-markdown9" class="show-list-numbers-and-dots">
                    <p style="color:#000000;font-size:25px;">
                        <strong>Correo electrónico</strong>
                    </p>
                </div>
                <label class="item item-input" id="login-input4">
                    <span class="input-label">Correo electrónico</span>
                    <input type="email" placeholder="">
                </label>
                <div id="login-markdown10" class="show-list-numbers-and-dots">
                    <p style="color:#000000;font-size:25px;">
                        <strong>Contraseña</strong>
                    </p>
                </div>
                <label class="item item-input" id="login-input18">
                    <span class="input-label">Contraseña</span>
                    <input type="password" placeholder="">
                </label>
            </form>
            <a ui-sref="inicioListo()" id="login-button13" class="button button-stable button-block">Log in</a>
        </div>
    </ion-content>
</ion-view>
</html>