<!DOCTYPE html>
<html lang="en">
<ion-view title="Búsqueda" id="page1" style="background-color:#99EC8E;">
    <ion-content padding="true" class="has-header">
        <a ui-sref="perfilInicio()" id="bSqueda-button32" class="button button-positive">Inicio</a>
        <div id="bSqueda-container3">
            <form id="bSqueda-form11" class="list">
                <label class="item item-input" id="bSqueda-input9">
                    <span class="input-label">Código postal.</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="bSqueda-input10">
                    <span class="input-label">Día.</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="bSqueda-input8">
                    <span class="input-label">Precio.</span>
                    <input type="text" placeholder="">
                </label>
                <button id="bSqueda-button8" class="button button-positive button-block">Buscar</button>
            </form>
            <ion-list id="bSqueda-list2">
                <ion-item class="item-avatar" id="bSqueda-list-item3">
                    <h2>Nombre Apellido</h2>
                    <p style="white-space:normal;">Cédula profesional </p>
                </ion-item>
                <ion-item class="item-avatar" id="bSqueda-list-item6">
                    <h2>Nombre Apellido</h2>
                    <p>Cédula profesional</p>
                </ion-item>
                <ion-item class="item-avatar" id="bSqueda-list-item7">
                    <h2>Nombre Apellido</h2>
                    <p>Cédula profesional</p>
                </ion-item>
                <ion-item class="item-avatar" id="bSqueda-list-item5">
                    <h2>Nombre Apellido</h2>
                    <p>Cédula profesional</p>
                </ion-item>
                <ion-item class="item-avatar" id="bSqueda-list-item4">
                    <h2>Nombre Apellido</h2>
                    <p>Cédula profesional</p>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
</html>