<!DOCTYPE html>
<html lang="en">
<ion-view title="Perfil terapeuta" id="page12" style="background-color:#99EC8E;">
    <ion-content padding="true" class="has-header">
        <div id="perfilTerapeuta-container11">
            <div id="perfilTerapeuta-container10">
                <div class="list card" id="perfilTerapeuta-card27">
                    <ion-item class="item-avatar" id="perfilTerapeuta-list-item27">
                        <h2>Nombre Apellido</h2>
                    </ion-item>
                    <div id="perfilTerapeuta-markdown25" style="text-align:center;" class="show-list-numbers-and-dots">
                        <p style="color:#000000;">Dirección</p>
                    </div>
                    <div id="perfilTerapeuta-markdown26" style="text-align:center;" class="show-list-numbers-and-dots">
                        <p style="color:#000000;">Cédula profesional</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card" id="perfilTerapeuta-card28">
            <a ui-sref="bSqueda()" id="perfilTerapeuta-button28" class="button button-positive">Búsqueda</a>
            <a ui-sref="miTerapeuta()" id="perfilTerapeuta-button29" class="button button-positive">Mi terapeuta</a>
            <h3 id="perfilTerapeuta-heading5" style="color:#000000;text-align:center;">Citas del mes</h3>
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <button id="perfilTerapeuta-button30" class="button button-positive">Modificar</button>
            <div id="perfilTerapeuta-markdown27" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#000000;">Número telefónico</p>
            </div>
            <div id="perfilTerapeuta-markdown28" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#000000;">Correo electrónico</p>
            </div>
            <div id="perfilTerapeuta-button-bar3" class="button-bar"></div>
        </div>
    </ion-content>
</ion-view>
</html>