<!DOCTYPE html>
<html lang="en">
<ion-view title="Registro" id="page10" style="background-color:#99EC8E;">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="registro-card22">
            <form id="registro-form17" class="list">
                <div id="registro-markdown6" class="show-list-numbers-and-dots">
                    <p style="margin-top:0px;color:#000000;font-size:25px;">
                        <strong>Correo electrónico</strong>
                    </p>
                </div>
                <label class="item item-input" id="registro-input7">
                    <span class="input-label">Correo electrónico</span>
                    <input type="email" placeholder="">
                </label>
                <div id="registro-markdown8" class="show-list-numbers-and-dots">
                    <p style="margin-top:0px;color:#000000;font-size:25px;">
                        <strong>Contraseña</strong>
                    </p>
                </div>
                <label class="item item-input" id="registro-input15">
                    <span class="input-label">Confirmar contraseña</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input" id="registro-input14">
                    <span class="input-label">Contraseña</span>
                    <input type="password" placeholder="">
                </label>
            </form>
            <a ui-sref="captcha()" id="registro-button15" style="font-weight:500;font-size:30px;" class="button button-stable button-block">CONTINUAR</a>
            <div class="item item-body" id="registro-list-item-container4"></div>
        </div>
    </ion-content>
</ion-view>
</html>